@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Questrial", sans-serif;
  background-color: white;
}
.h1 {
  position: absolute;
  left: 10%;
  top: 40%;
  width: 550px;
}
.h {
  font-size: 60px;
  margin-bottom: 5px;
  color: #1877f2;
}
.pr {
  font-size: 30px;
}
.main {
  position: absolute;
  align-items: center;
  background-color: #ffff;
  width: 95%;
  height: 50%;
  /* left: 25%; */
  top: 7%;
  margin: auto;
  /* border-radius: 10px; */
  /* box-shadow: 2px 2px 9px rgb(184, 184, 184), -1px -1px 5px rgb(184, 184, 184); */
}
.txt {
  margin: 10px;
  margin-top: 1%;
  padding: 20px;
  width: 85%;
  background-color: #ffff;
  outline: none;
  border: 1px solid rgb(184, 184, 184);
  border-radius: 5px;
  font-size: 15px;
}
.txt:focus {
  border: 1px solid #1877f2;
  box-shadow: 1px 1px 1px #1877f2, -1px -1px 1px #1877f2;
}
.login-btn {
  margin: 10px;
  padding: 15px;
  width: 95%;
  border-radius: 5px;
  background-color: #1877f2;
  color: #ffff;
  font-size: 20px;
  border: none;
  font-weight: bolder;
}
.a-link {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 50px;
  border-bottom: 1px solid rgb(184, 184, 184);
  margin: 20px;
  background: none;
}
.link {
  background: none;
  text-decoration: none;
  color: #1877f2;
}
.ca {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 95px;
  width: 50%;

  margin-bottom: 1%;
  padding: 15px;
  background-color: #42b72a;
  border-radius: 5px;
  align-items: center;
}
.pca {
  text-decoration: none;
  background: none;
  color: #ffff;
  font-weight: bolder;
  font-size: 17px;
  border: none;
}
.fb {
  text-align: center;
  color: #1877f2;
  font-weight: bold;
}
.language-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10%;
    
}
.inc {
    color: rgb(118, 127, 131);
    text-align: center;
    margin-top: 2%;
}
.language {
    color: rgb(130, 155, 236);
}
/* @media only screen and (max-width: 600px) {
  .h1 {
    display: none;
    position: relative;
  }
} */
